@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #DF6845 #13120F;
}
:root{
    --light-white: #F4ECE9;
    --light-pink: #FF8AAE;
    --light-orange: #E2A127;
    --light-green: #D1EADC;
    --dark-green: #6EB171;
    --light-font: "Karla", sans-serif;
    --bold-font: 'Clash Display', sans-serif;
}
body{
    min-height: 400vh;
    font-weight: 500;
}

/* TOP MENU BAR */
.topElement{
    background-color: var(--light-white);
    border-bottom: 2px solid;
    position: sticky;
    top: 0;
    z-index: 1;
}

.fixedMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 12.5rem;
    gap: 2rem;
}

/* LOGO - SEARCH BAR */
.logoSearch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.3rem;
}
.inputArea{
    display: flex;
    padding: 0 0.8rem;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    background-color: #D1EADC;
    width: 310px;
    height: 40px;
    border: 1px solid;
    border-radius: 2px;
}
input{
    border: none;
    background-color: #D1EADC;
    padding: 0 5px;
    font-family: var(--light-font);
    font-size: 1.02rem;
    letter-spacing: 1.4;
    font-weight: 400;
    color: #000;
}
input:focus{
    outline: none;
}
::placeholder{
    color: rgba(145, 144, 144, 0.93);
}

/* NAV BAR - LOGIN BUTTON */
.navButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    padding: 0 0.3rem;
}
.navList{
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 2.1rem;
}
.navList li a{
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #000;
    padding: 0.4rem 0.7rem;
    font-size: 1.1rem;
    font-family: var(--light-font);
}
.navList li a:hover{
    background-color: var(--dark-green);
    border: 1px solid;
    cursor: pointer;
}
.loginBtn{
    background-color: var(--dark-green);
    padding: 0.7rem 2.5rem;
    border: 1px solid;
    font-family: var(--bold-font);
    font-size: 1.1rem;
}
.loginBtn:hover{
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

/* MAIN SECTION */
/* SECTION 1 */
.heroSection{
    display: flex;
    height: 89vh;
    position: relative;
}
iframe{
    outline:none;
    width: 100%;
    height: 100%;
}
iframe:active{
    outline: none;
}
.spiral-img{
    position: absolute;
    top: 8.2%;
    left: 7.2%;
}
.scribble{
    position: absolute;
    bottom: 4%;
    left: 42%;
}
.heroContent, .mapContent{
    width: 50%;
}
.heroContent{
    background-color: var(--light-orange);
    display: flex;
    align-items: center;
    border-right: 2px solid;
}
.heroContainer{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    padding-left: 13rem;
}
.headContent{
    font-family: var(--bold-font);
    font-size: 3.7rem;
    line-height: 1.15;
    width: 85%;
}
.bodyContent{
    width: 85%;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: var(--light-font);
    line-height: 1.4;
}
.exploreBtn{
    display: block;
    background-color: var(--dark-green);
    width: 32%;
    padding: 0.8rem;
    border: 1px solid #000;
    font-family: var(--light-font);
    font-size: 1.5rem;
}
.exploreBtn:hover{
    background-color: #000;
    color: var(--light-white);
    cursor: pointer;
    border: 1px solid #000;
    cursor: pointer;
}

/* MUSIC SECTION */
.musicSection{
    background-color: #000;
    padding: 3.2rem 0;
    background-image: url(./assets/stars.svg);
    height: 120vh;     /*Adjust height later */
}
.musicContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}
.headMusic{
    font-family: var(--bold-font);
    color: var(--light-white);
    font-size: 2.188rem;
    width: 40%;
    text-align: center;
    letter-spacing: 1.8;

}
.bodyMusic{
    width: 58%;
    font-size: 1rem;
    font-family: var(--light-font);
    color: var(--light-white);
    text-align: center;
}

/* LATEST FESTIVALS */
.latestSection{
    position: relative;
    background-color: var(--light-green);
    height: 100vh;   /*Adjust height later*/
}
.latestHead{
    position: absolute;
    top: -1.3%;
    left: 10%;
    border: 1px solid;
    background-color: var(--dark-green);
    font-family: var(--bold-font);
    padding: 0.8rem 1rem;
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    transform: rotate(-13deg);
    box-shadow: -10px 10px var(--light-green), -10px 10px 0 1px #000;
}
.festLit{
    position: absolute;
    top: -48%;
    left: 90%;
    transform: rotate(13deg);
}
.bodyLatest{
    display: flex;
    align-items: center;
    font-family: var(--bold-font);
    font-weight: 600;
    letter-spacing: 1.4;
    justify-content: center;
    font-size: 1rem;
    padding-top: 8rem;
    padding-left: 40rem;
    gap: 1.3rem;
    letter-spacing: 1.9;
}
.bodyText{
    width: 55%;
}

/* Join The Community Marquee */
.joinSection{
    min-width: 100%;
    white-space: nowrap;
    height: 14vh;
    background-color: #000;
    color: var(--light-white);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 16px;
    overflow: hidden;
}
.joinText{
    text-decoration: none;
    color: inherit;
    font-family: var(--light-font);
    font-weight: 800;
    cursor: pointer;
    font-size: 2rem;
}
.marqueeX{
    display: flex;
    align-items: center;
    gap: 10px;
    animation: 11s slide infinite linear;
}
@keyframes slide {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }

/* News Section */
.newsSection{
    background-color: var(--light-white);
    padding: 6rem 12rem;
}
img[alt="banner"]{
    display: block;
    border: 4px solid;
    max-width: 610px;
}
.bannerList{
    position: relative;
    height: fit-content;
}
.newsContainer{
    display: flex;
    justify-content: center;
    gap: 1.4rem;
}
.newsHead{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding-bottom: 1.5rem;
    border-bottom: 4px solid;
}
.mainHead{
    font-family: var(--bold-font);
    font-size: 2.188rem;
    font-weight: 600;
    line-height: 1.225;
}
.mainBody{
    font-size: 1rem;
    line-height: 1.25;
    font-family: var(--light-font);
    max-width: 380px;
}
img[alt="tilt-arrow"]{
    transform: rotate(-45deg);
}
.newsBody{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem 0;
}
.bodyArrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid;
}
.bodyArrow:hover{
    cursor: pointer;
}
.centreHead{
    font-family: var(--bold-font);
    font-weight: 600;
    line-height: 1.225;
    letter-spacing: 0.01rem;
    font-size: 1.375rem;
}
.centreHead a{
    text-decoration: none;
    color: #13120F;
}
.date{
    font-family: var(--light-font);
    color: #DF6845;
    font-size: 0.875rem;
}
.centreBody{
    font-size: 0.75rem;
    font-family: var(--light-font);
    font-weight: 400;
    line-height: 1.175;
}
.placeCategory{
    display: flex;
    gap: 10px;
}
.placeCategory p{
    font-family: var(--light-font);
    font-size: 0.7rem;
    border-radius: 3px;
    border: 1px solid;
    min-width: 65px;
    height: 18px;
    padding: 6px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}
.place{
    background-color: var(--light-green);
}
.category{
    background-color: var(--light-pink);
}
#newsUpdate{
    position: absolute;
    max-width: 270px;
    padding: 16px 22px;
    background-color: #13120F;
    bottom: 0;
    letter-spacing: 1.9;
    cursor: pointer;
}
#announceHead a, #announceHead{
    font-size: 1.12rem;
    line-height: 1.2;
    color: var(--light-white);
    letter-spacing: 2;
}
#announceInfo{
    font-size: 0.625rem;
    color: var(--light-white);
    width: 89%;
}
#readBtn{
    width: 45%;
    margin-top: 2.3rem;
    align-self: flex-end;
    font-size: 1.12rem;
    font-weight: 500;
}
.newsInfo{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* Upcoming Events */
.upcomingSection{
    background-color: #13120F;
    padding: 6rem 0;
}
.headUpcome{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding-left: 12rem;
}
    
.headUpcomeText{
    color: var(--light-white);
    font-family: var(--bold-font);
    font-weight: 600;
    font-size: 2.4rem;
    letter-spacing: 0.5px;
}
.bodyUpcomeText{
    color: var(--light-white);
    font-size: 1rem;
    font-family: var(--light-font);
    font-weight: 500;
}
